<div class="shadowed">
    <div class="i-white-core-content">
        <div class="block double-padded">
            <div class="fields">
                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            [`System settings`]
                        </div>
                        <div class="value">
                            {if !$site_app_exists}
                                <em>{sprintf('[`Install <a href="%sinstaller/#/apps/site/">Site app</a> to change system settings.`]', $wa_backend_url)}</em>
                            {else}
                                {sprintf('[`<a href="%s">Change system settings in Site app</a>.`]', $system_settings_url)}
                            {/if}
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            [`Webasyst version`]
                        </div>
                        <div class="value no-shift">{$version}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>