{strip}

<div class="fill-background">

    <nav class="breadcrumbs" itemprop="breadcrumb">
        <a href="{$wa_url}"><i class="material-icons mi-lg">&#xE88A;</i></a> <span class="rarr">&#47;</span>
        {if $wa_app_url != '/'}<a href="{$wa_app_url}">{$wa->shop->settings('name')}</a> <span class="rarr">&#47;</span>{/if}
        {if !empty($breadcrumbs)}
            {foreach $breadcrumbs as $breadcrumb}
                {if $breadcrumb}
                    <a href="{$breadcrumb.url}">{$breadcrumb.name|escape}</a> <span class="rarr">&#47;</span>
                {/if}
            {/foreach}
        {/if}
        {$page.title|escape}
    </nav>
    
</div>

<div class="fill-background">
    
    <article>
        
        <a href="{$wa->shop->productUrl($product)}#page_{$page.url}" class="button step-back">&lArr; [`Back`]</a>
        <h1>{$page.title|escape}</h1>
        
        <div class="product-info">
            {$page.content|strip}
        </div>
    
    </article>

</div>

{/strip}